<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Expense <%= foundExpense.id %></h1>
        <div>
            <h1><%= foundExpense.category %></h1>
            <h1><%= foundExpense.price %></h1>
            <h1><%= foundExpense.date %></h1>
        </div>
</body>
</html>